/* http://www.colourlovers.com/pattern/2428601/latte */
/*AF926C*/
/*FDF4F4*/
/*895C52*/
/*F3EBAD*/
/*D1B28D*/

@font-face {
    font-family: 'Always Forever';
    src: url('/fonts/always forever.ttf');
}

@font-face {
    font-family: 'Helvetica LTStd';
    src: url('/fonts/HelveticaLTStd-Light.otf');
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/2428601.png');
}

.left {
    float: left;
}

.clear {
    clear: both;
}

#bar {
    float: left;
    width: 100%;
    background-color: #F3EBAD;
    box-shadow: 0px 4px 4px #895C52;
}

#logo {
    font-family: 'Always Forever';
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    text-shadow: 2px 2px 2px #000000;
    float: left;
    margin: 0px 5px 0px 8px;
}

#channels ul {
    margin: 0.3em 0.3em 0em 4.0em;
    padding: 0;
    list-style: none;
}
#channels ul li {
    display: inline-block;
}
#channels ul li a {
}

#channels ul li a img {
    background-color: #FFFFFF;
}

#wrapper {
    max-width: 960px;
    margin: 0px auto;
}

#main {
    background-color: #FDF4F4;
    margin: 10px 10px 20px 10px;
    border-radius: 1.0em;
    box-shadow: 4px 4px 6px #895C52 inset;
    padding: 16px;
}

#main h1, #main h2 a {
    font-family: Times, "Times New Roman", Georgia, serif;
    color: #895C52;
}

#main h1 {
    font-size: 25pt;
}

#main h2 a {
    font-size: 20pt;
    text-decoration: none;
}

#main #items {
    border-top: 2px solid #895C52;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: -40px;
}

#main .post {
    margin-bottom: 40px;
}

#main p.description {
    color: #895C52;
    font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
    font-size: 10pt;
}

#main p {
    font-family: "Helvetica LTStd", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-align: justify;
    line-height: 1.8em;
}
